[flake8]
max-line-length = 120
exclude =
    dist/*
    build/*
    *.egg-info
    */__pycache__/*
    tests/python_so_extraction/.cache/*
ignore =
    *.py I100 W503
    ./libcflib/__init__.py E402
per-file-ignores =
    ./tests/python_so_extraction/test_py37_nonstdlib.py:E501
    ./tests/python_so_extraction/test_py37_stdlib.py:E501
